* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/Design\ sem\ nome\ \(2\).png);

}

.container {
    width: 360px;
    margin: auto;

    margin-top: 56px;
}

.profile {
    text-align: center;
    padding: 24px;
}

.profile img {
    width: 112px;
}

#profile {
    text-align: center;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul li a {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500px;
    transition: background 0.2s;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 20px;

    padding: 24px 0px;
    font-size: 24px;
}